h1, h2, h3{
    font-family: 'Playfair Display' !important;
    font-weight: 600 !important;
}
h4, h5, h6{
    font-family: calibri !important;
    font-weight: 400 !important;
    font-size: 20px;
}
p, li, a{
    font-family: calibri !important;
    font-weight: 400 !important;
    font-size: 20px;
}
button, span{
    font-family: corbel !important;
    font-weight: 400;
}
.body{
    padding: 2rem 4rem;
    color: #000000ee;
    text-align: justify;
}
@media (max-width: 700px)  {
    .body{
        padding: 1rem 1rem !important;
    }
}
.body__title{
    margin-bottom: 30px;
}
footer{
    min-height: 100px;
    background: black;
    margin-top: 20px;
}
.pie{
    text-align: center;
    color: #ffffff88;
    background: #0e0e0e;
}
p{
    font-size: 20px !important;
}
li{
    font-size: 20px !important;
}
h5{
    font-size: 22px !important;
}