:root{
    --primary: #142850; 
    --accent: #00909E;
    --light: #DAE1E7;
    --yellow: #AABA3A;
    --brown: #444444;
    --danger: #C93D3D;
}
.invisible{
    display: none;
}

.logo_navbar{
    position: absolute;
    top: 0;
    left: 50vw;
    z-index: 10;
}