.carousel-item{
    height: 28rem;
    width: 100vw;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}
.carousel-item__background{
    margin-bottom: 50px;
    background: rgb(3,2,28);
    background: linear-gradient(152deg, rgba(3,2,28,0.9) 0%, rgba(20,40,80,0.9) 100%);
    border-radius: 10px;
}
@media screen and (min-width: 900px) {
    .carousel-right{
        display: block;
        right: 0px;
        width: 30vw;
        margin-left: 40vw;
        margin-bottom: 15vh;
        padding:20px
    }
    .carousel-left{
        display: block;
        right: 0px;
        width: 30vw;
        margin-right: 40vw;
        margin-bottom: 15vh;
        padding:20px
    }
}

.carousel-light{
    background: rgb(3,2,28);
    background: linear-gradient(152deg, rgba(255,255,255,0.9) 0%, rgba(184,197,224,0.9) 100%);
}
.carousel-light h1{
    color: #142850;
}
.carousel-light p{
    color: #142850;
}