.fundamento-headline{
    max-height: 60vh;
    height: 60vh;
    background-image: url('../../../resources/images/old_books.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.fundamento-headline__div{
    background: #142850aa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffffaa;
    padding: 10px 60px;
    color: white;
}

.fundamento-images__image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}
.fundamento-images__image:hover{
    box-shadow: 2px 2px 6px #142850aa;
    transform: scale(1.02);
    filter: brightness(0.9);
}


.fundamentos-link{
    color: #142850;
    text-decoration: underline #142850;
    margin-bottom: 20px;
    font-weight: 600;
}
.fundamentos-link:hover{
    color: #142850aa;
    text-decoration: underline #142850aa;
}

/* .fundamento-body{
    padding: 2rem 4rem;
    color: #000000ee;
    text-align: justify;
} */