.carusel-inicio{
    height: 200px;
}
.title{
    text-align: center;
}
.c-primary{
    color: #142850
}
#div_info{
    background-image: url("../../../resources/images/sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div_info_color{
    background-color: #14285088;
}
