.recursos-headline{
    max-height: 60vh;
    height: 60vh;
    background-image: url('../../../resources/images/biblioteca1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.recursos-headline__div{
    background: #142850aa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffffaa;
    padding: 10px 60px;
    color: white;
}
